<button
  (click)="onAdd$.next({
    text: 'completed todo',
    completed: true
  })">
  add new completed todo
</button>

<br />

<button
  (click)="onAdd$.next({
    text: 'in-complete todo',
    completed: false
  })">
  add new in-complete todo
</button>

<br />
<br />

<button
  (click)="onToggleShowCompleted$.next()">
  showing: {{ state.showOnlyCompleted ? 'only completed' : 'all' }} |
  {{ state.todosCount | json }}
</button>

<!-- <button
  (click)="actions$.next({
    type: 'mark-all-completed'
  })">
  [x] Mark all completed
</button> -->

<br />
<br />

<div *ngFor="let item of state.filteredTodos; trackBy: trackById">

  <button
    (click)="onUpdate$.next({
      id: item.id,
      data: {
        completed: !item.completed
      }
    })">
    {{ item.completed ? '[x]' : '[ ]' }}
  </button>

  {{ item.text }}

  <br />

  <input
    type="text"
    [value]="item.text"
    (keyup)="onUpdate$.next({
      id: item.id,
      data: {
        text: $any($event).target.value
      }
    })"
  />

  <button
    (click)="onDelete$.next(item.id)">
    [delete]
  </button>

  <br /><br />

</div>

<h1 *ngIf="state.showTodosWarning">máš neodbavený todos dlouhou dobu</h1>
