{{ state.selectLomakar }}

<br>

<button
  type="button"
  (click)="onLomakar$.next('omgf')">
  Lomakar
</button>

<br>

<button
  type="button"
  (click)="onLomakar$.next('wtfg')">
  Lomakar2
</button>

<br />

<button
  (click)="onAdd$.next({
    text: 'completed todo',
    completed: true
  })">
  add new completed todo
</button>

<br />

<button
  (click)="onAdd$.next({
    text: 'in-complete todo',
    completed: false
  })">
  add new in-complete todo
</button>

<br />
<br />

<button
  (click)="onToggleShowCompleted$.next()">
  showing: {{ state.showOnlyCompleted ? 'only completed' : 'all' }} |
  {{ state.todosCount | json }}
</button>

<!-- <button
  (click)="actions$.next({
    type: 'mark-all-completed'
  })">
  [x] Mark all completed
</button> -->

<br />
<br />


<zeropsboost-todos
  (onDelete)="onDelete$.next($event)"
  (onUpdate)="onUpdate$.next($event)"
  [showWarning]="state.showTodosWarning"
  [data]="state.filteredTodos">
</zeropsboost-todos>
