<button
  (click)="actions$.next({
    type: 'add-todo',
    payload: {
      text: 'completed todo',
      completed: true
    }
  })">
  add new completed todo
</button>

<br />

<button
  (click)="actions$.next({
    type: 'add-todo',
    payload: {
      text: 'in-complete todo',
      completed: false
    }
  })">
  add new in-complete todo
</button>

<br />
<br />

<button
  (click)="actions$.next({
    type: 'toggle-completed-only'
  })">
  showing: {{ (showOnlyCompleted$ | async) ? 'only completed' : 'all' }} |
  {{ todosCount$ | async | json }}
</button>

<button
  (click)="actions$.next({
    type: 'mark-all-completed'
  })">
  [x] Mark all completed
</button>

<br />
<br />

<zeropsboost-todos
  (onDelete)="actions$.next({
    type: 'remove-todo',
    payload: $event
  })"
  (onUpdate)="actions$.next({
    type: 'update-todo',
    payload: $event
  })"
  [showWarning]="todosWarning$ | async"
  [data]="todos$ | async">
</zeropsboost-todos>
