

<button
  (click)="actions$.next({
    type: 'add-todo',
    payload: {
      text: 'completed todo',
      completed: true
    }
  })">
  add new completed todo
</button>

<br />

<button
  (click)="actions$.next({
    type: 'add-todo',
    payload: {
      text: 'in-complete todo',
      completed: false
    }
  })">
  add new in-complete todo
</button>

<br />
<br />

<button
  (click)="actions$.next({
    type: 'toggle-completed-only'
  })">
  showing: {{ (showOnlyCompleted$ | async) ? 'only completed' : 'all' }} |
  {{ todosCount$ | async | json }}
</button>

<button
  (click)="actions$.next({
    type: 'mark-all-completed'
  })">
  [x] Mark all completed
</button>

<br />
<br />

<div *ngFor="let item of (todos$ | async); trackBy: trackById">

  <button
    (click)="actions$.next({
      type: 'update-todo',
      payload: {
        id: item.id,
        data: {
          completed: !item.completed
        }
      }
    })">
    {{ item.completed ? '[x]' : '[ ]' }}
  </button>

  {{ item.text }}

  <br />

  <input
    type="text"
    [value]="item.text"
    (keyup)="actions$.next({
      type: 'update-todo',
      payload: {
        id: item.id,
        data: {
          text: $any($event).target.value
        }
      }
    })"
  />

  <button
    (click)="actions$.next({
      type: 'remove-todo',
      payload: item.id
    })">
    [delete]
  </button>

  <br /><br />

</div>

<h1 *ngIf="todosWarning$ | async">máš neodbavený todos dlouhou dobu</h1>
