<div class="wrap">
  <input type="text" #inputRef class="add-input" />

  <!-- <input type="date" #inputDate class="add-input" /> -->

  <button
    (click)="addTodo(inputRef.value);"
    class="button">
    Přidat
  </button>
</div>

<zeropsboost-todo-item
  *ngFor="let item of todos; let index = index; trackBy: trackByIndex"
  [index]="index"
  [text]="item.text"
  [completed]="item.completed"
  [date]="item.date"
  (remove)="removeTodo($event)"
  (update)="updateTodo($event.index, $event.item, $event.toggleButtonClick)">
</zeropsboost-todo-item>

  <button
    (click)="setAllToCompleted();"
    class="button">
    All done
  </button>
