<div class="wrap">
  <input type="text" #inputRef class="add-input" />

  <button
    (click)="addTodo(inputRef.value);"
    mat-raised-button>
    Přidat
  </button>
</div>

<zeropsboost-todo-item
  *ngFor="let item of todos; let index = index; trackBy: trackByIndex"
  [index]="index"
  [text]="item.text"
  [completed]="item.completed"
  [date]="item.date"
  (remove)="removeTodo($event)"
  (update)="updateTodo($event.index, $event.item, $event.toggleButtonClick)">
</zeropsboost-todo-item>

  <button
    (click)="setAllToCompleted();"
    color="primary"
    mat-raised-button>
    <mat-icon>task_alt</mat-icon>
    All done
  </button>

  <button
    mat-raised-button
    (click)="filterCompletedTodos();" >
    Completed Todos
  </button>

  <button
    (click)="showAllTodos();"
    mat-raised-button>
    All Todos
  </button>
