.item {
  margin-bottom: 24px;
  background: #e7e7e7;
  padding: 12px;
  border-radius: 8px;
}
.toggle-button {
  width: 20px;
  height: 20px;
  background: #ccc;
  border: 0px;
  cursor: pointer;

  &.is-completed {
    background: green;
  }
}
